/MarvelApp/MarvelApp/MarvelApp.Android/bin
/MarvelApp/MarvelApp/MarvelApp.Android/obj
/MarvelApp/MarvelApp/MarvelApp.iOS/obj
/MarvelApp/MarvelApp/MarvelApp.iOS/bin
/MarvelApp/MarvelApp/MarvelApp/obj
/MarvelApp/MarvelApp/MarvelApp/bin
